<div class="container bg-dark rounded-3 shadow-lg mt-4 p-4">
  <div class="row">
    <div class="col">
      <h1 style="font-family: 'Bangers', sans-serif !important;" class="text-center text-light mt-3">Welcome to the Pokédex</h1>
      <h2 style="font-family: 'Bangers', sans-serif !important;" class="text-center text-light mt-2 mb-4">Explore the original 151 Pokémon!</h2>
    </div>
  </div>

  <div class="row">
    <% count = 1 %>
    <% @pokemons.each do |pokemon| %>
      <div class="col-12 col-sm-6 col-md-3 mb-4">
        <div class="card shadow h-100 pokemon-card">
          <div class="card-header">
            <%= count.to_s.rjust(3, '0') %> - <%= pokemon.name.capitalize %>
          </div>


          <%= link_to pokemon_path(pokemon) do %>
            <img src="<%= pokemon.sprite_url %>" class="card-img-top" alt="<%= pokemon.name.capitalize %>">
          <% end %>

          <div class="card-body text-center">
            <h3 class="pokemon-name card-title">
              <%= link_to pokemon.name.capitalize, pokemon_path(pokemon), class: "text-decoration-none text-dark" %>
            </h3>


            <% pokemon.types.each do |type| %>
              <h4 class="card-subtitle pokemon-name">
                <%= type.name.capitalize %><% unless type == pokemon.types.last %>, <% end %>
              </h4>

            <% end %>
          </div>
        </div>
      </div>
      <% count += 1 %>
    <% end %>
  </div>
</div>